/* body {
    background-color: burlywood;
} */
/*  resetear estilo */
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 20xp;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
nav ul li{
    margin: 0 15px;
}

nav ul li{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(0, 0, 0);
}

h3 {
    color: orange;
} */ 

/* estilos footer */

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;

}

.contenido{
    padding: 40px;
    text-align: center;
}

.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: #026ffd55;
    padding: 20px;
    border-radius: 8px;
}
.formulario h2{
     margin-bottom: 15px;
     text-align: center;
}
.formulario label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.formulario input,
.formulario textarea{
    width: 90%;
    padding: 20px;
    margin-top: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.formulario button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover{
    background-color: rgb(55, 55, 116);
}