

.bg-primary{
    background-color: #772121 !important;
}

/* img{
    max-width: 90%;
} */

.progress{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.text-primary{
    color: #c71313 !important;
}