/* body {
    background-color: burlywood;
} */
/*  resetear estilo */
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aquamarine;
    color: white;
    padding: 20xp;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
nav ul li{
    margin: 0 15px;
}

nav ul li{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}